.card .item {
	border-color: white;
	color: white;
	text-align: center;
}

h2, h3 {
	text-align: center;
}

.card, .list-inset {
	margin: 10px 0px;
}

.bar-header {
	background-color: white;	
}

li.item {
	text-align: center;
}
