$stable:                          #E27A3F !default;
$positive:                        #334D5C !default;
$calm:                            #DEB536 !default;
$balanced:                        #673E7D !default;
$energized:                       #45B29D !default;
$assertive:                       #C23C3C !default;
$royal:                           #DF4949 !default;
